.menu__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.08;
  color: #444444;
}

.cart-menu__purchase-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: #575445;
  color: #FFFFFF;
}
.cart-menu__cart-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: #575445;
  color: #FFFFFF;
}