/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
/*  variables */
/* common font-sizes */
/* common colors */
/* common line heights*/
/* header*/
/* hero */
/*about us */
/* shop */
/* our-products  */
/* mixins definition*/
/* common classes styles*/
body {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

.none {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.wrapper {
  max-width: 100%;
}

.container {
  padding: 0 9.44%;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  color: #575445;
  font-family: "Roboto", sans-serif;
}

.section-subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: #E6B939;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-txt {
  font-size: 16px;
  line-height: 1.2;
  color: #575445;
}

/*------- styles for header -----*/
.header--outdoor {
  font-family: "Poppins";
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
  margin: 17px 0;
}

.header--logo {
  flex: 0 0 128px;
  align-self: center;
}

.header--menu {
  flex: 1 0 460px;
  justify-content: end;
}

.header--cart-menu {
  flex: 0 0 288px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  justify-content: end;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.menu__link {
  font-size: 14px;
  line-height: 1.08;
  color: #444444;
}

.cart-menu__cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.cart-menu__cart-btn::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("/images/header/cart-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.cart-menu__cart-btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/images/0header/items-in-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.cart-menu__purchase-btn, .cart-menu__cart-btn {
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #575445;
  border-radius: 6px;
  padding: 10px 18px;
}

/*styles for hero section*/
.outdoor--hero__title {
  font-size: 48px;
  line-height: 1.2;
  color: #575445;
}
.outdoor--hero__txt {
  font-size: 17px;
  line-height: 1.48;
  color: #CACCD1;
}

/*styles for about-us section*/
.about-us__link {
  font-size: 15px;
  line-height: 1.4;
  color: #575445;
}

/*styles for our-products section*/
.our-products {
  display: flex;
  flex-wrap: wrap;
}
.our-products__decription {
  text-align: center;
}
.our-products__title {
  font-family: "Roboto", sans-serif;
}
.products-list {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr, 1fr, 1fr;
}
.products-list__item {
  text-align: center;
}
.products-list__title {
  font-size: 20px;
  line-height: 1.2;
  color: #575445;
  font-family: "Roboto", sans-serif;
}
.products-list__txt {
  font-size: 14px;
  line-height: 1.4;
  color: #575445;
}

/*styles for store section*/
.image-bg img {
  width: 100%;
}

.store__description {
  text-align: center;
}
.goods-list__item {
  width: 379px;
  position: relative;
}
.goods-list__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
}
.goods-list__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #575445;
}
.goods-list__txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #575445;
}
.goods-list__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #575445;
}

/*styles for drone-view section*/
/*styles for shop section*/
.shop__title {
  font-size: 36px;
  line-height: 1.2;
  color: #E6B939;
}

.shop__subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: #FAFAFC;
}

/*styles for buyers-guide section*/
/*styles for magazine section*/
/*styles for footer section*/