/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
/* adaptive-property for different properties */
/* values for adaptive  property */
/* mixins definition*/
/* styler fox titles, subtitles, txt */
/* styler fox buttons */
/*  variables */
/* common font-sizes */
/* common colors */
/* common line heights*/
/* header*/
/* hero */
/*about us */
/* shop */
/* our-products  */
/* store section */
/* common classes styles*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  font-size: 16px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1120));
  font-size: 16px;
  margin: 0 auto;
}

.none {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.wrapper {
  max-width: 1440px;
  max-width: calc(320px + 1120 * ((100vw - 320px) / 1120));
}

.container {
  padding: 0 136px;
  margin: 0 auto;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #575445;
}

.section-subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: #e6b939;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-txt {
  font-size: 16px;
  line-height: 1.2;
  color: #575445;
}

/*------- styles for header -----*/
.header--outdoor {
  font-family: "Poppins";
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
  gap: calc(10px + 30 * ((100vw - 320px) / 1120));
  margin: 17px 0;
}

.header--logo {
  flex: 0 0 auto;
  align-self: center;
}

.header--logo svg {
  width: 128px;
  width: calc(100px + 28 * ((100vw - 320px) / 1120));
}

.header--menu {
  flex: 1 0 content;
  justify-content: flex-end;
}

.header--cart-menu {
  flex: 0 0 content;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  justify-content: end;
}
.menu__item {
  padding-top: 8px;
  padding-top: calc(5px + 3 * ((100vw - 320px) / 1120));
  padding-bottom: 8px;
  padding-bottom: calc(5px + 3 * ((100vw - 320px) / 1120));
  padding-left: 15px;
  padding-left: calc(5px + 10 * ((100vw - 320px) / 1120));
  padding-right: 15px;
  padding-right: calc(5px + 10 * ((100vw - 320px) / 1120));
  border-bottom: 3px solid transparent;
  position: relative;
}
.menu__item:hover, .menu__item:active, .menu__item:focus {
  background-color: #575445;
  border-bottom: 3px solid #e6b939;
  transition-delay: 100ms;
  transition: 0.2s ease-in;
}
.menu__item:hover .menu__link, .menu__item:active .menu__link, .menu__item:focus .menu__link {
  color: #ffffff;
}
.menu__link {
  font-size: 14px;
  line-height: 1.08;
  color: #444444;
}
.menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-menu__purchase-btn {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.cart-menu__cart-btn::before {
  content: url("/images/header/cart-icon.svg");
}
.cart-menu__cart-btn::after {
  content: url("/images/0header/items-in-cart.svg");
}
.cart-menu__cart-btn {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.cart-menu__purchase-btn, .cart-menu__cart-btn {
  border: 3px solid transparent;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #575445;
  border-radius: 6px;
  font-size: 16px;
  padding: 7px 15px;
}
.cart-menu__purchase-btn:hover, .cart-menu__purchase-btn:focus, .cart-menu__purchase-btn:active {
  border: 3px solid #575445;
  font-size: 16px;
  line-height: 1.4;
  color: #575445;
  background-color: #ffffff;
  border-radius: 6px;
  transition-delay: 100ms;
  transition: 0.2s ease-in;
}

/*styles for hero section*/
.outdoor--hero {
  position: relative;
}
.outdoor--hero__image img {
  vertical-align: middle;
  max-width: 1440px;
  width: 100vw;
  min-height: 400px;
}
.outdoor--hero__description {
  position: absolute;
  left: 9.44%;
  top: 34%;
}
.outdoor--hero__title {
  font-family: "Roboto", sans-serif;
  font-size: calc(30px + 18 * (100vw - 320px) / 1120);
  line-height: 1.2;
  color: #ffffff;
}
.outdoor--hero__txt {
  font-size: 17px;
  line-height: 1.48;
  color: #caccd1;
}

/*styles for about-us section*/
.about-us {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 104px;
       column-gap: 104px;
}
.about-us__img {
  flex: 0 0 auto;
  position: relative;
}
.about-us__img-tr {
  position: absolute;
  top: -127px;
  right: -125px;
}
.about-us__img-bl {
  position: absolute;
  bottom: -127px;
  left: -125px;
}
.about-us__description {
  flex: 0 1 400px;
}
.about-us__txt {
  margin-bottom: 19px;
}
.about-us__link {
  font-size: 15px;
  line-height: 1.4;
  color: #575445;
}
.about-us__link svg {
  margin-left: 4px;
}

/*styles for our-products section*/
.our-products__section-wrapper {
  background-color: #fafafc;
  padding: 100px 0;
}

.our-products__cards-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
}

.our-products {
  position: relative;
}
.our-products__decription {
  text-align: center;
  max-width: 600px;
}
.our-products__title {
  font-family: "Roboto", sans-serif;
}
.our-products__txt {
  margin-top: 7px;
}
.our-products__img-bl {
  position: absolute;
  bottom: -100px;
  left: -120px;
}
.our-products__img-tr {
  position: absolute;
  top: -100px;
  right: -120px;
}

.products-list {
  display: flex;
  flex-flow: row wrap;
}
.products-list__item {
  flex: 0 1 33.33%;
  text-align: center;
  padding: 50px;
}
.products-list__icon-bg {
  padding: 0;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background-image: url("/images/3our-products-section/cards/card-icon-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.products-list__icon {
  margin-top: 18px;
}
.products-list__title {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2;
  color: #575445;
  font-family: "Roboto", sans-serif;
}
.products-list__txt {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #575445;
}

/*styles for store section*/
.image-bg img {
  max-width: 100%;
  border-radius: 12px;
}

.store {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.store__description {
  text-align: center;
  max-width: 600px;
}
.store__title {
  margin-top: 7px;
}
.store__txt {
  margin-top: 7px;
}
.store__link-arrow {
  margin-left: 4px;
  fill: #575445;
}

.goods-list {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: repeat(3, minmax(270px, 1fr));
  gap: 16px;
  gap: calc(5px + 11 * ((100vw - 320px) / 1120));
}
.goods-list__item {
  position: relative;
}
.goods-list__description {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 40px;
  text-align: center;
  padding-left: 63px;
  padding-left: calc(0px + 63 * ((100vw - 320px) / 1120));
  padding-right: 63px;
  padding-right: calc(0px + 63 * ((100vw - 320px) / 1120));
}
.goods-list__title {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.2;
  color: #575445;
}
.goods-list__txt {
  font-size: 16px;
  line-height: 1.4;
  color: #575445;
}
.goods-list__link {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.4;
  color: #575445;
}

/*styles for drone-view section*/
.advertising-n-shop {
  max-width: 1440px;
  width: 100vw;
}

.drone-view {
  position: relative;
}
.drone-view__bg {
  max-width: 1440px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 12/5;
}
.drone-view__description {
  position: absolute;
  right: 0;
  top: 30%;
  margin-right: 30px;
  max-width: 280px;
  font-size: 16px;
  line-height: 1.4;
  color: #fafafc;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.drone-view__title {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.drone-view__link {
  font-size: 15px;
  color: #ffffff;
}
.drone-view__advertising {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.advertising {
  max-width: 615px;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  background: #292c32;
  border-radius: 16px;
  padding: 16px 22px;
}
.advertising__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.advertising__item {
  display: flex;
  gap: 10px;
}
/*styles for shop section*/
.shop {
  background: #375c58 center url("./../../images/6shop-section/pattern-bg.svg") repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}
.shop__description {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  width: 600px;
  width: calc(200px + 400 * ((100vw - 320px) / 1120));
}
.shop__subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: #fafafc;
}
.shop__title {
  font-size: 36px;
  line-height: 1.2;
  color: #e6b939;
  font-family: "Roboto";
}
.shop__txt {
  color: #fafafc;
}
.shop__link {
  display: inline-block;
  margin-top: 20px;
  margin-top: calc(10px + 10 * ((100vw - 320px) / 1120));
  padding: 10px;
  padding: calc(5px + 5 * ((100vw - 320px) / 1120));
  font-size: 15px;
  font-size: calc(9px + 6 * ((100vw - 320px) / 1120));
  line-height: 1.49;
  text-align: center;
  color: #575445;
  background: #ffffff;
  border-radius: 6px;
}

/*styles for buyers-guide section*/
.buyers-guide {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 20px;
  margin: 100px auto 200px;
}
.buyers-guide__description {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: minmax(400px, 600px);
  row-gap: 7px;
}
.buyers-guide__link {
  display: inline-block;
  margin: 0 auto;
}
.buyers-guide__link svg {
  margin-left: 4px;
}

.offer {
  display: grid;
  grid-template-columns: minmax(300px, 0.5fr) minmax(300px, 0.5fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  -moz-column-gap: calc(10px + 22 * ((100vw - 320px) / 1120));
       column-gap: calc(10px + 22 * ((100vw - 320px) / 1120));
}
.offer__item {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  row-gap: 12px;
}
.offer__img img {
  width: 100%;
}
.offer__txt {
  font-size: 20px;
  line-height: 1.2;
  color: #575445;
}
.offer__target {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-columns: 0.1fr 0.2fr 0.7fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.offer__subimage {
  grid-row: span 2;
  grid-column: 1;
}
.offer__person {
  grid-column: 2;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.4;
  color: #575445;
  transform: translateY(10px);
}
.offer__job-title {
  grid-column: 2;
  font-size: 11px;
  line-height: 1.4;
  color: #e6b939;
}
.offer__date {
  grid-column: 3;
  font-size: 13px;
  line-height: 1.4;
  color: #6f7278;
  text-align: end;
  transform: translateY(-5px);
}

/*styles for magazine section*/
.magazine {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 104px;
       column-gap: 104px;
  -moz-column-gap: calc(30px + 74 * ((100vw - 320px) / 1120));
       column-gap: calc(30px + 74 * ((100vw - 320px) / 1120));
}
.magazine__img {
  position: relative;
}
.magazine__img-tr {
  position: absolute;
  top: -127px;
  right: -125px;
  z-index: -1;
}
.magazine__img--main {
  width: 576px;
  width: calc(300px + 276 * ((100vw - 320px) / 1120));
}
.magazine__img-bl {
  position: absolute;
  bottom: -127px;
  left: -125px;
}
/*styles for footer section*/
.footer {
  background-color: #575445;
  padding-top: 100px;
  padding-top: calc(15px + 85 * ((100vw - 320px) / 1120));
  padding-bottom: 100px;
  padding-bottom: calc(15px + 85 * ((100vw - 320px) / 1120));
}
.footer__container {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 31px;
  row-gap: calc(10px + 21 * ((100vw - 320px) / 1120));
}
.footer__logo {
  grid-row: 1;
  grid-column: span 2;
  text-align: center;
}
.footer__menu-tree {
  grid-row: 3;
  grid-column: span 2;
}
.footer__reserved-rights {
  grid-row: 4;
  grid-column: 1;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}
.footer__rights-link {
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}
.footer__rights-link:hover, .footer__rights-link:focus, .footer__rights-link:active {
  background-color: #ffffff;
  color: #575445;
  font-style: italic;
}
.footer__socials {
  grid-row: 4;
  grid-column: 2;
}

.menu-tree {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.41fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.menu-tree__branch p {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
  margin-bottom: 9px;
}
.menu-tree__bough {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.menu-tree__leaf, .menu-tree__leaf a {
  font-size: 14px;
  line-height: 1.4;
  text-transform: initial;
  color: #ffffff;
}
.menu-tree__leaf a:hover, .menu-tree__leaf:focus, .menu-tree__leaf a:active {
  background-color: #ffffff;
  color: #575445;
}
.menu-tree__leaf--newsletter {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  padding: 7px;
  padding-left: 21px;
}
.menu-tree__email {
  border-radius: inherit;
  flex: 1 1 auto;
}
.menu-tree__button {
  flex: 0 0 71px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #575445;
  border-radius: inherit;
}

.socials {
  display: flex;
  justify-content: end;
  gap: 20px;
}