@import 'nullstyle.scss';

// todo: create favicon

//  variables
// todo додати змінні
// todo подивитись документацію по scss sass -  додати функції, міксини т.д.
// ----- variables --------------------------------
body {
	// font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
	background-color: #E5E5E5;
}

// -- common classes --
.none {
	display: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {}

.section-decription {}

.section-subtitle {}

.section-title {}

.section-txt {}

// -- / common classes --
// -- header --
.header--outdoor {}

.container {}

.header--logo {}

.header--menu {}

.menu {

	// .menu__list

	&__list {}

	// .menu__item

	&__item {}

	// .menu__link

	&__link {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 1.08;
		color: #444444;
	}
}

.header--cart-menu {}

.cart-menu {

	// .cart-menu__purchase-btn

	&__purchase-btn {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.4;
		/* identical to box height, or 140% */

		background-color: #575445;
		color: #FFFFFF;
	}

	// .cart-menu__cart-btn

	&__cart-btn {}
}

// -- / header --
// !
//  -- hero section --
.outdoor--hero {

	// .outdoor--hero__image

	&__image {}

	// .outdoor--hero__description

	&__description {}
}

.description-hero {

	// .description-hero__subtitle

	&__subtitle {}

	// .description-hero__title

	&__title {}

	// .description-hero__txt

	&__txt {}
}

.text {}

// -- / hero  --
// !
//  -- about us section -- 
.about-us {

	// .about-us__img

	&__img {}

	// .about-us__description

	&__description {}

	// .about-us__subtitle

	&__subtitle {}

	// .about-us__title

	&__title {}

	// .about-us__txt

	&__txt {}

	// .about-us__read-more-link

	&__read-more-link {}
}

//  -- / about us section -- 
// store section 

.image-bg img {
	width: 100%;
}

.goods-list {

	// .goods-list__item

	&__item {
		width: 379px;
		// todo calculate correct width
		position: relative;
	}

	// .goods-list__description

	&__description {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 40px;
	}

	// .goods-list__title

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 1.2;

		text-align: center;

		color: #575445;
	}

	// .goods-list__txt

	&__txt {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.4;

		text-align: center;

		color: #575445;

	}

	// .goods-list__link

	&__link {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.4;

		color: #575445;

	}
}

// -------