@import './styles/_nullstyle';

// todo: create favicon
/*  variables */
/* common font-sizes */
$main-fz: 16px;
$section-title-fz: 36px;
$section-subtitle-fz: 14px;
$section-txt-fz: 16px;
$arrow-fz: 15px;
/* common colors */
$section-title-cl: #575445;
$section-subtitle-cl: #E6B939;
$section-txt-cl: #575445;

/* common line heights*/
$section-title-lh: 1.2;
$section-subtitle-lh: 1.4;
$section-txt-lh: 1.2;

/* header*/
$menu-fz: 14px;
$menu-btn-fz: 16px;
$menu-link-cl: #444444;
$menu-link-lh: 1.08;
$menu-btn-lh: 1.4;
$header-btn-fz: 16px;
$header-btn-lh: 1.4;
$header-btn-bg-cl: #575445;
$header-btn-cl: #ffffff;
$header-btn-br: 6px;

/* hero */
$hero-title-fz: 48px;
$hero-txt-fz: 17px;
$hero-txt-lh: 1.48;
$hero-txt-cl: #CACCD1;
/*about us */
$about-us-link-fz:  15px;
$about-us-link-lh: 1.4;
$about-us-link-cl: #575445;

/* shop */
$shop-subtitle-cl: #FAFAFC;
/* our-products  */
$products-list-title-fz: 20px;
$products-list-title-lh: 1.2;
$products-list-txt-fz: 14px;
$products-list-txt-lh: 1.4;  
$products-list-cl: #575445;

// todo подивитись документацію по scss sass -  додати функції, міксини т.д.
/* mixins definition*/
@mixin styler($fz, $lh, $cl) {
	font-size: $fz;
	line-height: $lh;
	color: $cl;
}
@mixin styler-btn($fz, $lh, $cl, $bg, $br) {
	font-size: $fz;
	line-height: $lh;
	color: $cl;
	background-color: $bg;
	border-radius: $br;
}
/* common classes styles*/
body {
	max-width: 1440px;
	font-family: 'Poppins', sans-serif;
	// font-family: 'Roboto', sans-serif;
	font-size: $main-fz;
	margin: 0 auto;
}
.none {
	display: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;

	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.wrapper {
	
	max-width: 100%;
}
.container {
	padding: 0 9.44%;
}

.section-decription {}
.section-title {
	@include styler($section-title-fz, $section-title-lh, $section-title-cl);
	font-family: 'Roboto', sans-serif;
}
.section-subtitle {
	@include styler($section-subtitle-fz, $section-subtitle-lh, $section-subtitle-cl);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.section-txt {
	@include styler($section-txt-fz, $section-txt-lh, $section-txt-cl);
}


//  header styles
@import './styles/_0header';
// hero styles
@import './styles/_1hero';
// about us styles
@import './styles/_2about-us';
// our products styles
@import './styles/_3our-products';
// store section	styles
@import './styles/_4store';
// drone views styles
@import './styles/_5drone-view';
// shop styles
@import './styles/_6shop';
// buyers guide styles
@import './styles/_7buyers-guide';
// magazines styles
@import './styles/_8magazine';
// footer styles
@import './styles/_footer';
