/*------- styles for header -----*/
.header--outdoor {
	font-family: "Poppins";
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	@include adaptive-property("gap", 40, 10, 1);
	// gap: 3.4%;
	// 40px;
	margin: 17px 0;
}

.header--logo {
	// $logo-width: ;
	flex: 0 0 auto;
	// flex-grow: 0;
	// flex-shrink: 0;
	// @include adaptive-property('flex-basis', 128, 100, 1);
	// 128px
	align-self: center;
}

.header--logo svg {
	@include adaptive-property("width", 128, 100, 1);
}

.header--menu {
	flex: 1 0 content;
	justify-content: flex-end;
	// 460px; to 300px
	// flex-grow: 1;
	// flex-shrink: 0;
	// @include adaptive-property("flex-basis", 460, 300, 1);
}

.header--cart-menu {
	flex: 0 0 content;
	// 25% - 288px; to 150px
	// flex-grow: 0;
	// flex-shrink: 0;
	// @include adaptive-property("flex-basis", 288, 150, 1);

	display: flex;
	column-gap: 20px;

	// @include adaptive-property("column-gap", 20, 10, 1);
	justify-content: flex-end;
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		justify-content: flex-end;
		justify-content: end;
		// column-gap: 28px; to 10px
		// @include adaptive-property("column-gap", 28, 10, 1);
	}

	// .menu__item
	&__item {
		@include adaptive-property("padding-top", 8, 5, 1);
		@include adaptive-property("padding-bottom", 8, 5, 1);
		@include adaptive-property("padding-left", 15, 5, 1);
		@include adaptive-property("padding-right", 15, 5, 1);
		// border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		//  устанавливаем дял дальнейшего перкращения в ссылку всего этого элемента Item
		position: relative;
	}
	&__item:hover,
	&__item:active,
	&__item:focus {
		.menu__link {
			color: $header-btn-cl;
		}
		background-color: $header-btn-bg-cl;
		// border-top: 3px solid #e6b939;
		// border-radius: 6px;
		border-bottom: 3px solid #e6b939;
		transition-delay: 100ms;
		transition: 0.2s ease-in;
		// transform: translate(4px, 4px) rotate(10deg);
		// transform: translate(4px, 4px);
		// transform: translate(4px, 4px);
		// transition-property: margin-right, color;
	}

	// .menu__link
	&__link {
		@include styler($menu-fz, $menu-link-lh, $menu-link-cl);
	}
	// делаем ссылкой весь элемент, а не только сам текст
	&__link::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.cart-menu {
	&__purchase-btn {
		// flex: 0 0 143px;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
		// @include adaptive-property("flex-basis", 143, 90, 1);
	}

	&__cart-btn::before {
		content: url("/images/header/cart-icon.svg");
		// width: 17px;
		// height: 17px;
		// background-size: contain;
		// background-repeat: no-repeat;
	}

	&__cart-btn::after {
		content: url("/images/0header/items-in-cart.svg");
		// width: 20px;
		// height: 20px;
		// background-size: contain;
		// background-repeat: no-repeat;
	}
	&__cart-btn {
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	&__purchase-btn,
	&__cart-btn {
		border: 3px solid transparent;
		@include styler-btn($header-btn-fz, $header-btn-lh, $header-btn-cl, $header-btn-bg-cl, $header-btn-br);
		// fz 16->12
		// @include adaptive-property("font-size", 16, 12, 1);
		font-size: 16px;
		padding: 7px 15px;
		// @include adaptive-property("padding-top", 10, 5, 1);
		// @include adaptive-property("padding-bottom", 10, 5, 1);
		// @include adaptive-property("padding-left", 15, 5, 1);
		// @include adaptive-property("padding-right", 15, 5, 1);
		// @include adaptive-property("line-height", 1.4, 1.1, 1);
		//
	}
	&__purchase-btn:hover,
	&__purchase-btn:focus,
	&__purchase-btn:active {
		border: 3px solid $header-btn-bg-cl;
		@include styler-btn($header-btn-fz, $header-btn-lh, $header-btn-bg-cl, $header-btn-cl, $header-btn-br);

		transition-delay: 100ms;
		transition: 0.2s ease-in;
		// transform: translate(4px, 4px) rotate(10deg);
		// transform: translate(4px, 4px);
		// transform: translate(4px, 4px);
		// transition-property: margin-right, color;
	}
}
