/*styles for hero section*/
.outdoor--hero {
position: relative;
	// .outdoor--hero__image

	&__image img {
		max-width: 100%;
	}

	// .outdoor--hero__description

	&__description {
		position: absolute;
		left: 9.44%; 
		top: 34%;
	}

	// .outdoor--hero__subtitle

	&__subtitle {
		// @include styler($section-subtitle-fz, $section-subtitle-lh, $section-subtitle-cl);
	}

	// .outdoor--hero__title

	&__title {
		@include styler($hero-title-fz, $section-title-lh, $hero-title-cl);
	}

	// .outdoor--hero__txt

	&__txt {
		@include styler($hero-txt-fz, $hero-txt-lh, $hero-txt-cl);
	}
}