/*styles for hero section*/
.outdoor--hero {
	position: relative;

	// background-image: url('/images/1hero-section/hero-bg.jpg');
	// height: 60vh;
	// min-height: 400px;

	// /* Center and scale the image nicely */
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;

	// .outdoor--hero__image
	&__image {}

	&__image img {
		vertical-align: middle;

		max-width: 1440px;
		width: 100vw;
		min-height: 400px;
	}

	// .outdoor--hero__description

	&__description {
		position: absolute;
		left: 9.44%;
		top: 34%;
	}

	// .outdoor--hero__subtitle

	&__subtitle {
		// @include styler($section-subtitle-fz, $section-subtitle-lh, $section-subtitle-cl);
	}

	// .outdoor--hero__title

	&__title {
		font-family: 'Roboto', sans-serif;
		@include styler($hero-title-fz, $section-title-lh, $hero-title-cl);
	}

	// .outdoor--hero__txt

	&__txt {
		@include styler($hero-txt-fz, $hero-txt-lh, $hero-txt-cl);
	}
}