/*styles for store section*/
.image-bg {
	max-width: 100%;

}

.image-bg img {
	width: 100%;
	border-radius: 12px;
}

.store {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	row-gap: 20px;
	margin-top: 100px;
	margin-bottom: 100px;

	// .store__description

	&__description {
		text-align: center;
		max-width: 600px;
	}

	// .store__subtitle

	&__subtitle {}

	// .store__title

	&__title {
		margin-top: 7px;
	}

	// .store__txt

	&__txt {
		margin-top: 7px;
	}

	// .store__goods-list

	&__goods-list {}

	// .store__link

	&__link {}
	&__link-arrow {
		margin-left: 4px;
		fill: $store-link-cl;
	}
		
}

.goods-list {

	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	// .goods-list__item

	&__item {
		// width: 379px;
		flex: 0 1 32.3%;
		position: relative;
	}

	// .goods-list__description

	&__description {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		position: absolute;
		top: 40px;
		text-align: center;
		padding: 0 63px;
	}

	// .goods-list__title

	&__title {
		font-family: 'Roboto';
		@include styler($store-title-fz, $store-title-lh, $store-title-cl);
	}

	// .goods-list__txt

	&__txt {
		@include styler($store-txt-fz, $store-txt-lh, $store-txt-cl);
	}

	// .goods-list__link

	&__link {
		margin-top: 10px;
		@include styler($store-link-fz, $store-link-lh, $store-link-cl);

	}
}