/*styles for drone-view section*/
.advertising-n-shop {
	max-width: 1440px;
	width: 100vw;
	min-height: 400px;
}
.drone-view {
	// .drone-view__bg
	position: relative;
	&__bg {
		max-width: 1440px;
		width: 100vw;
		min-height: 400px;
	}

	// .drone-view__description

	&__description {
		position: absolute;
		right: 0;
		top: 30%;
		margin-right: 30px;
		max-width: 280px;
		font-size: 16px;
		line-height: 1.4;
		color: #fafafc;

		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	/// .drone-view__title

	&__title {
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	// .drone-view__txt

	&__txt {
		// font-size: 16px;
		// line-height: 1.4;

		// color: #fafafc;
	}

	// .drone-view__link

	&__link {
		// line-height: 1.4;
		font-size: 15px;
		color: #ffffff;
	}

	// .drone-view__advertising

	&__advertising {
		position: absolute;
		bottom: 40px;
		right: 40px;
	}
}
.advertising {
	max-width: 615px;
	font-size: 12px;
	line-height: 1;
	color: #ffffff;
	background: #292c32;
	border-radius: 16px;
	padding: 16px 22px;
	// .advertising__list

	&__list {
		display: flex;
		column-gap: 20px;
		align-items: center;
		justify-content: center;
	}

	// .advertising__item

	&__item {
	}
	&__item svg {
		margin-right: 5px;
	}
}
